html[class*='light'] {
  color-scheme: light;
  --at-apply: bg-components-background text-black;
}

html[class*='dark'] {
  color-scheme: dark;
  --at-apply: bg-components-dark-background text-white;
}
